<!DOCTYPE html>
<html ng-app="notesApp">
<head>
	<title>Notes App</title>
</head>
<body ng-controller="MainCtrl as ctr">
	<div>
		<h2>What are your favorite sports?</h2>
		<div ng-repeat="sports in ctr.sports">
			<label ng-bind="sports.label"></label>
			<div>
				With Binding:
				<input type="checkbox"
						ng-model="sports.selected"
						ng-true-value="'YES'"
						ng-false-value="'NO'" />

			</div>
			<div>
				Using ng-checked:
				<input type="checkbox" ng-checked="sports.selected === 'YES'" />
			</div>
			<div>
				Current state:
				{{sports.selected}}
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('notesApp', [])
			.controller('MainCtrl', [function() {
				var self = this;
				self.sports = [
					{label: 'Basketball', selected: 'YES'},
					{label: 'Cricket', selected: 'NO'},
					{label: 'Soccer', selected: 'NO'},
					{label: 'Swimming', selected: 'YES'}
				];
			}]);
	</script>
</body>
</html>