<!DOCTYPE html>
<html ng-app="notesApp">
<head>
	<title>Notes app</title>
</head>
<body ng-controller="MainCtrl as ctr">
	<input type="text" ng-model="ctr.username" />
	<input type="password" ng-model="ctr.password">
	<button ng-click="ctr.change()">Change Values</button>
	<button ng-click="ctr.submit()">Submit</button>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('notesApp', [])
			.controller('MainCtrl', [function() {
				var self = this;
				self.change = function() {
					self.username = 'changed';
					self.password = 'password';
				};
				self.submit = function() {
					console.log('User clicked submit with ', self.username, self.password);
				};
			}]);
	</script>
</body>
</html>